.section-three-container {
  background-color: #004db3;
  /* position: absolute; */
}

.header-main {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.2rem;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin: auto;
  width: 70%;
}

.header-small {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.sub-title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.button-style {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: capitalize;
  color: #004db3;
}


@media (max-width: 768px) {
  .header-main {
    font-size: 1.25rem;
    line-height: 1.8rem;
    margin: auto;
    width: 80%;
  }
  
  .header-small {
    font-size: 0.5rem;
    line-height: .68rem;
    
  }
  
  .sub-title {
    font-size: 0.5rem;
    line-height: .68rem;
  }

  .community-img {
    width: 100%;
    max-width: 300px;
  }
  
  .button-style {
    font-size: 0.5rem;
    line-height: .68rem;
  }
  
}